app_key: <%= ENV['app_key'] %>
master_secret: <%= ENV['master_secret'] %>
registration_ids:
  common: <%= ENV['rid_common'] %>
  common2: <%= ENV['rid_common2'] %>
  android: <%= ENV['rid_android'] %>
  ios: <%= ENV['rid_ios'] %>
tags:
  common: <%= ENV['tags_common'] %>
repoer_delay_time: <%= ENV['repoer_delay_time'] %>
